
#///////////////////////////
# Cocos Creator 3D Project
#///////////////////////////
library/
temp/
local/
profiles/
#//////////////////////////
# NPM
#//////////////////////////
node_modules/

#//////////////////////////
# VSCode
#//////////////////////////
.vscode/

#//////////////////////////
# WebStorm
#//////////////////////////
.idea/

build/android/data/
build/android/proj/build/
build/android/proj/buildSrc/build/
.gradle/